@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --oldbackground-color: #1c2331;
    --background-color: #1c1c1e;
    --text-color: #ffffff;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

body form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body form label {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

body form input {
  width: 50vw;
  height: 50px;
  font-size: 14px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  background-color: var(--background-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Poppins", sans-serif;
  text-align: -webkit-center;
  text-align: center;
  color: var(--text-color);
  cursor: text;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.radio-buttons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.radio-buttons label {
  display: flex;
  align-items: center;
  margin: 0 16px;
  font-size: 16px;
}

.radio-buttons input[type="radio"] {
  margin-right: 8px;
  appearance: none;
  border: 1px solid #cccccc;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  outline: none;
  cursor: pointer;
}

.radio-buttons input[type="radio"]:checked:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--text-color);
}


body form input[type="submit"] {
  margin-top: 16px;
  width: 200px;
  height: 40px;
  background-color: var(--text-color);
  color: var(--background-color);
  border-radius: 6px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 1200px) {
  .input-form {
    width: 80vw;
  }
}